@font-face {
	font-family: "sansationBold";
	src: url("./assets/fonts/sansation/Sansation_Bold.ttf");
}

@font-face {
	font-family: "sansationRegular";
	src: url("./assets/fonts/sansation/Sansation_Regular.ttf");
}

@font-face {
	font-family: "sansationLight";
	src: url("./assets/fonts/sansation/Sansation_Light.ttf");
}

@font-face {
	font-family: "jostRegular";
	src: url("./assets/fonts/jost/static/Jost-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply box-border p-0 m-0;
}

.customer__menu--link {
	@apply flex items-center w-full gap-4 px-2 py-2 text-lg capitalize rounded-full font-sansation-bold text-zinc-50;
}

.customer__menu--link:hover,
.customer__menu--link.active {
	@apply bg-zinc-50 text-main-primary;
}

.customer__menu--link:hover .icon__span,
.customer__menu--link.active .icon__span {
	@apply bg-main-primary;
}

.customer__menu--link:hover svg path,
.customer__menu--link.active svg path {
	fill: #eeebf4;
}

.slick-track {
	display: flex !important;
}
